<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Profile</title>
  <%- include ../partials/head %>

</head>
<body>
  <header>
    <%- include ../partials/nav %>
  </header>
  <br>


  <a>
    <div class="thecard">
      <div class="card-caption">
        <ul id="res">
          <p>
            <li>ProfileId: <%= profileData.profile_id %></li>
            <li>Name: <%= profileData.profile_name %></li>
            <li>Activity: <%= profileData.activity_name %></li>
            <li>Emotion: <%= profileData.emotion_name %></li>
            <br>
          </p>
        </ul>
      </div>
    </div>
  </a>

  <%- include ../partials/footer %>

</body>
</html>
