
<a>
  <div class="thecard">
    <div class="card-caption">
      <ul id="res">
        <p>
          <li>ProfileId: <%= profileData[0].profile_id %></li>
          <li>Name: <%= profileData[0].profile_name %></li>
          <li>Activity: <%= profileData[0].activity_name %></li>
          <li>Emotion: <%= profileData[0].emotion_name %></li>
          <% profileData.forEach(function(profile) { %>
            <% console.log('profile ejs profileData: ', profileData) %>
            <a>
              <div class="card-caption">
                  <p>
                    <li>Sender Name: <%= profile.receiver %></li>
                    <li>Message: <%= profile.message %></li>
                  </p>
              </div>
            </a>
            <% }) %>
        </p>
      </ul>
    </div>
  </div>
</a>
