<% profileData.forEach(function(profile) { %>
    <a href="/users/profile/<%= profile.profile_id %>" >
      <div class="thecard">
        <div class="card-caption">
          <ul id="res">
            <p>
              <li>ProfileId: <%= profile.profile_id %></li>
              <li>Name: <%= profile.name %></li>
              <li>Activity: <%= profile.activity_id %></li>
              <li>Emotion: <%= profile.emotion_id %></li>
              <br>
            </p>
          </ul>
          <form method="POST" action="<%= '?_method=DELETE' %>">
          <a href="<%=burgerURL + '/edit'%>" class="btn btn-info" role="button">Edit</a>
          <button type="submit" class="btn btn-danger">Delete</button>
          </form>
        </div>
      </div>
    </a>
  <% }) %>
