<% console.log('showOne ejs all: ' + user) %>
<% console.log('showOne ejs user: ' + user.name) %>
<% console.log('showOne ejs profile_id: ' + user.profile_id) %>
<% console.log('showOne ejs activity_id: ' + user.activity_id) %>
<% console.log('showOne ejs emotion_id: ' + user.emotion_id) %>
<% console.log('showOne ejs activity_name: ' + user.activity_name) %>
<% console.log('showOne ejs emotion_name: ' + user.emotion_name) %>

<a href="/users/profile" >
      <div class="thecard">
        <div class="card-caption">
          <ul id="res">
            <p>
              <li>ProfileId: <%= user.profile_id %></li>
              <li>Name: <%= user.name %></li>
              <li>Activity: <%= user.activity_id %></li>
              <li>Emotion: <%= user.emotion_id %></li>
              <li>Sender Name: <%= user.sender_name %></li>
              <li>Sender Message: <%= user.message %></li>

              <br>
            </p>
          </ul>
        </div>
      </div>
    </a>
